<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title data-inertia>Mon Garde-Manger</title>

    @viteReactRefresh()
    @vite(['inertia/app.tsx'])
    @inertiaHead()
    @stack('dumper')

    @if(umamiScriptUrl && umamiWebsiteId)
      <script defer src="{{ umamiScriptUrl }}" data-website-id="{{ umamiWebsiteId }}"></script>
    @end
  </head>

  <body>
    @inertia()
  </body>
</html>
